/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1c1c1cFF;
    background-alt: #2d2d2eFF;
    foreground:     #FFFFFFFF;
    selected:       #f0f0f0FF;
    active:         #F1F1F1FF;
    urgent:         #E06C75FF;
}
